---
import TheHeader from "@components/The/Header.astro";
import TheNav from "@components/The/Nav.astro";
import TheFooter from "@components/The/Footer.astro";
import BaseHead from "@components/The/BaseHead/BaseHead.astro";
import "@styles/global.css";
interface Props {
  title: string;
  keywords: string;
  description: string;
}

const { title, keywords, description } = Astro.props;
---

<html lang="zh-CN" class="dark">
  <head>
    <BaseHead title={title} description={description} keywords={keywords} />
    <slot name="head" />
    <title>{title}</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script> -->
  </head>
  <body>
    <TheHeader />
    <TheNav />
    <main id="main">
      <slot />
    </main>
    <TheFooter />
  </body>
</html>
